<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>Evaluate News with NLP</h1>

            <div class="nav">
                <ul>
                  <div class="header_logo">Logo</div>
                  <div id="resbar" class= "bar "><i class = "fa fa-bars"></i></div>
                    <div id = "navItems" class = "nav-items">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                   </div>
               </ul>
              </div>



        </header>

        <main>
            <section class="inputData">
                <form id="urlForm">
                    <input id="name" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit">Submit</button>
                </form>
                
            </section>

            <section class="outputData">
                <strong class="section_results">Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p></p>
        </footer>

    </body>
</html>
